:root {
  --color : rgb(89 173 214);
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body{
  height: auto;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.about {
  border: 2px solid  var(--color) ;
  width: 23%;
  box-shadow: rgba(89 173 214) 0px 5px 15px;
}
.App{
  background-image: url('/backgroundMain.webp');
  padding: 2%;
  width: 100%;
  height: auto;
  background-size: cover;
}
.about div{
  margin: 8%;
}
.aboutPoke img{
  max-width: 350px;
  width: 100%; 
  height: auto; 
}
.section {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  gap: 20px;
  justify-content: center;
}

.aboutPoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem var(--color));
  border-radius: 10px;
  text-align: center;
}

.aboutPoke div { 
  padding: 20px;
  background-image: url('/random_center_bg.webp');
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center; 
} 
.button{
  box-shadow:0 0 15px 15px rgb(89 173 214 /0.5);
  padding:1rem 2rem ;
  border: none;
  background-color: var(--color);
  border-radius: 5px;
}
.App button:hover{
  filter: drop-shadow(0 0 4rem rgb(4, 166, 247));
  background-color: rgb(29 131 181);
}
.name{
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  border-radius: 5% 5% 100% 100%;
  font-size: xx-large;
  min-height: 1.5rem; 
  text-shadow: 1px 1px 2px var(--color), 0 0 1em blue, 0 0 0.2em blue;
}
.point{
  background-color: aqua;
}
.type{
  padding:3px 15px;
  border-radius:30px;
}