
  
  @media (max-width: 768px) {
    .random {
      grid-template-columns: repeat(5, 1fr) !important;
    }
    .search{
        flex-wrap:wrap ;
        align-content: center;
    }
    .about{
        width: 30%;
    }
    .name{
      font-size: x-large !important;
    }
    .path{
      font-size: large !important;
    }
    .base div{
      font-size:large !important;
    }
    .detail .type{
      margin: 0;
    }
    .descript{
      flex-wrap: wrap;
    }
    .descript div{
      width: auto;
    }
    .secondDetail{
      flex-wrap: wrap;
    }
    .secondDetail .descript{
      width: 100%;
    }
    .secondDetail .stat{
      width: 100%;
    }
    .chain .section .aboutPoke{
      margin-right: 0;
    }
    .chain .section .aboutPoke::after {
      right: -50%;
    }
  }
  
  @media (max-width: 425px) {
    .about{
        width: 80%;
    }
    .about p{
        font-size:medium !important;
    }
    .about div{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .detail{
      flex-direction: column;
    }
    .random {
      grid-template-columns: 1fr !important; /* 1 column for mobile devices */
    }
    .detail .typeDetail {
      width: 100%;
    }
    .detail .base {
      width: 100%;
    }
    
    .chain .section .aboutPoke::after {
      content: "" !important;
    }
    .chain .section .aboutPoke {
      margin-right: 0 !important;
    }
    .path{
      flex-wrap: wrap;
    }
    .headdetail .name{
      padding: 5px !important;
    }
  }
  


